@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
/* @import url(https://fonts.googleapis.com/css?family=Kanit:300,400,500&subset=thai); */
@import url(https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,700);
/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279; }

h1 {
  font-size: 65px;
  color: #2d3033; }

h2 {
  font-size: 40px;
  color: #2d3033; }

h3 {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300; }

h4 {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400; }

h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700; }

.btn {
  background-color: #eeeeee;
  color: #000;
  font-size: 13px;
  font-weight: 300;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase; 
}
  .btn:hover, .btn:focus {
    background-color: #fff;
    color: #000; }
  .btn-large {
    padding: 10px 20px 10px 30px;
  }

/* ==========================================================================
	General Styles
========================================================================== */
a {
  color: #e84545;
  outline: none;
}

a:hover, a:focus {
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s; 
  outline: none;  
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  color: #6c7279; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.section {
  padding: 100px; 
}

/* .section_side{
  padding: 100px;
} */

.no-padding {
  padding: 0; }

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }



/* ==========================================================================
	$Header
========================================================================== */
#header {
  position: fixed;
  width: 100%;
  z-index: 999; }
  #header .header-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    /* max-width: 1170px; */
    padding: 20px 100px;
    width: 100%;
    -moz-transition: padding 0.8s;
    -o-transition: padding 0.8s;
    -webkit-transition: padding 0.8s;
    transition: padding 0.8s; }
  #header .logo {
    float: left;
    width: 90px;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s; 
  }

  ul.primary-nav {
    margin: 30px 0 15px;
  }


#header.fixed {
  background-color: rgba(0,0,0,0.6); 
}
  #header.fixed .header-content {
    border-bottom: 0;
    padding: 10px 100px 5px; 
   }
  #header.fixed .nav-toggle {
    top: 18px; 
  }

#header.fixed .logo {
  width: 80px;
}

.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.navigation {
  float: right; }
  .navigation li {
    display: inline-block; }

 .navigation a {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    margin-left: 40px;
    padding: 50px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

    .navigation a:hover, .navigation a.active {
      color: #47c9af; 
    }

    .selected > a {
      color: #47c9af;
    }

.nav-toggle {
  display: none;
  height: 44px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  text-indent: 100%;
  top: 32px;
  white-space: nowrap;
  width: 44px;
  z-index: 99999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .nav-toggle:before, .nav-toggle:after {
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform; }
  .nav-toggle:before {
    /* background-color: #282828; */
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .nav-toggle:after {
    /* background-color: #282828; */
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s; }
  .nav-toggle span {
    background-color: #fff;
    bottom: auto;
    display: inline-block;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    width: 30px;
    z-index: 10;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .nav-toggle span:before, .nav-toggle span:after {
      background-color: #fff;
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transition: -moz-transform 0.3s;
      -o-transition: -o-transform 0.3s;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s; }
    .nav-toggle span:before {
      -moz-transform: translateY(-6px) rotate(0deg);
      -ms-transform: translateY(-6px) rotate(0deg);
      -webkit-transform: translateY(-6px) rotate(0deg);
      transform: translateY(-6px) rotate(0deg); }
    .nav-toggle span:after {
      -moz-transform: translateY(6px) rotate(0deg);
      -ms-transform: translateY(6px) rotate(0deg);
      -webkit-transform: translateY(6px) rotate(0deg);
      transform: translateY(6px) rotate(0deg); }
  .nav-toggle.close-nav:before {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  .nav-toggle.close-nav:after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  .nav-toggle.close-nav span {
    background-color: rgba(255, 255, 255, 0); }
    .nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
      background-color: #fff; }
    .nav-toggle.close-nav span:before {
      -moz-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg); }
    .nav-toggle.close-nav span:after {
      -moz-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      -webkit-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg); }



      .primary-nav ul {
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
        border-top: 2px solid #fff;
        color: #fff;
        float: none;
        font-family: kanit;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.8;
        margin-left: 40px;
        position: absolute;
        text-transform: uppercase;
        top: 100%;
        width: 200px;
        opacity: 0;
        /* display: none; */
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
    .primary-nav ul.open{
      opacity: 1;
    }
    .primary-nav ul li {
        display: block;
        margin: 20px 30px;
        padding: 0;
    }
    .primary-nav ul li a {
      margin-left: 0;
      padding: 0;
    }
      


    ul.lang {
      position: relative;
      width: 100%;
      text-align: right;
      top: 20px;
      z-index: 999;
      padding: 0;
      text-transform: uppercase;
    }
    .lang li {
      display: inline-block;
      margin-left: 20px;
      color: #fff;
      font-size: 12px;
      font-weight: 300;
    }
    .lang li a {
      color: #fff;
      padding: 0;
      margin: 0;
      font-size: 12px;
    }

    .lang li.selected > a {
        color: #47c9af;
    }
    

#wrapper {
  background-color: #fff;
  float: none;
  margin: 0;
  padding: 100px 0 0;
  width: 100%;
}

/* ==========================================================================
	#home
========================================================================== */
#home{
  padding: 0 100px;
}
.banner {
  background-image: url(../images/home_hero.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 700px;  
  height: 100%;
}

.bg_overlay{
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  min-height: 700px; 
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
}
.banner-text {
  padding-top: 50%; 
}
  .banner-text h1 {
    color: #fff;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    text-transform: uppercase; 
    font-size: 7rem;
  }
  .banner-text p {
    color: #fff;
    font-family: "Kanit", sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 50px;
}


/* ==========================================================================
	#about
========================================================================== */

.about {
    /* background-image: url('../images/bg_about.jpg');
    background-size: cover;
    background-position: right top; */
    font-family: "Kanit",sans-serif;
    color: #333;
    padding:200px 100px;
}
.about hr {
    border-bottom: 4px solid #333;
    display: inline-block;
    text-align: left;
    width: 50px;
}

.about h2 {
    font-size: 5rem;
    font-weight: 400;
}
.about p {
    font-family: "Kanit",sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
}

.parallax-container {
    height: 600px;
    overflow: hidden;
    position: relative;
}
.parallax-container .parallax {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.parallax-container .parallax img, .parallax-container .parallax video {
    bottom: 0;
    display: none;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    transform: translateX(-50%);
}

/* ==========================================================================
	$Product
========================================================================== */
  
.product{
  padding:100px;
}

/* .product .produect_cate{
  border: 1px solid #cfcfcf;
} */

.product .produect_cate > p {
    border: 1px solid #cfcfcf;
    color: #282828;
    font-size: 2rem;
    font-weight: 400;
    margin: 0 auto 20px;
    padding: 50px 0 30px;
    text-align: center; 
}

.product .produect_cate > p span {
    display: block;
    font-weight: 300;
    margin: 30px 0 0;
}

.product .produect_cate img {
    border-radius: 5px 5px 0 0;
}

.product .btn{
  margin: 50px 0 0;
}

 .product .btn:hover, .btn:focus {
    background-color: #cfcfcf;
    color: #000; 
  }

/* ==========================================================================
	$Vision
========================================================================== */
.vision{
  padding:150px 0;
  color: #fff;
}

.vision h3{
  color: #fff;
  font-weight: 400;
  font-size: 5rem;
}

.vision p {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 40px 0;
}


.video-wrap {
    overflow: hidden;
    position: relative;
    /* width: 100%; */
}
.video-wrap video {
    position: relative;
    width: 100%;
    z-index: 1;
}
.video-overlay, .video-placeholder {
    backface-visibility: hidden;
    background: transparent url("images/grid.png") repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}
.video-placeholder {
    background-repeat: no-repeat;
    z-index: 4;
}

/* ==========================================================================
	$News
========================================================================== */

.news h4{
  font-size: 5rem;
  font-weight: 400;
}

.news hr {
    border-bottom: 4px solid #333;
    display: block;
    text-align: center;
    width: 50px;
    margin: 30px auto 40px;
}

.news .content {
  height: 220px;
  margin-bottom: 20px;
}
.news .content > p {
    color: #333;
    font-size: 14px;
    font-weight: 300;
}
.news .content > h5 {
    color: #333;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
}


.news a{
  color: #47c9af;
}

.news a.btn{
  background-color: #eeeeee;
  color: #282828;
}

.news a.btn:hover, .news a.btn:focus {
  background-color: #cccccc;
  color: #282828;
  outline: none;
}

.load_more, .load_more_event {
  margin: 20px 0 0;
  border: 0;
  width: 120px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 none;
  border: 0 none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.load_more:hover, .load_more_event:hover {
  background-color: #47c9af;
  color: #fff;
}

button.load_more[disabled], button.load_more_event[disabled] {
  opacity: 0.5;
}

button.load_more[disabled]:hover, button.load_more_event[disabled]:hover{
  background-color: #eeeeee;
  color: #6c7279;
}

/* Article / News / Event detail */


#page-title {
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
  float: left;
  margin: 120px 0 0;
  padding: 50px 100px;
  position: relative;
  width: 100%;
  z-index: 10;
}

#page-title h1 {
  font-family: kanit;
  font-size: 30px;
}

.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  font-family: kanit;
  left: auto;
  margin: -30px 0 0;
  padding: 0;
  position: relative;
  right: 0;
  top: 0;
  width: auto;
  text-align: right;
}

.breadcrumb a {
  color: #ffffff;
}

.breadcrumb > li + li::before{
  color: #ffffff
}

.breadcrumb > .active {
  color: #32a467;
  text-transform: capitalize;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
}

#content {
  background-color: #fff;
  float: left;
  position: relative;
  width: 100%;
}



#content p {
  line-height: 1.8;
  margin-bottom: 30px;
  font-size: 14px;
}

#content p a{
  color: #999;  
}

#content p a:hover{
  color: #47c9af;  
}

.entry blockquote p, .entry-link span {
  font-style: italic;
  font-weight: 400;
}

#content blockquote ol:last-child, #content blockquote p:last-child, #content blockquote ul:last-child, ol ol, ol ul, ul ol, ul ul{
  margin-bottom: 0;
  font-size: 16px;
}


.content-wrap {
  padding: 50px 0;
}

.nobottommargin {
  margin-bottom: 0;
}

.entry {
  border-bottom: 2px solid #f5f5f5;
  margin: 0 0 50px;
  padding: 0 0 50px;
  position: relative;
}

.entry-title h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.entry-link, .entry-title h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.single-post .entry-meta {
  margin-bottom: 20px;
}



.entry-meta {
  list-style: outside none none;
  margin: 10px -10px -15px 0;
}

.entry-meta li:first-child::before {
  display: none;
}

.entry-meta li::before {
  content: "/";
  display: inline-block;
  margin-right: 10px;
  opacity: 0.5;
}

.entry-meta li {
  color: #999;
  float: left;
  font-family: "Crete Round",serif;
  font-size: 13px;
  line-height: 14px;
  margin: 0 10px 15px 0;
}
.entry-meta li, dfn {
  font-style: italic;
}

.entry-image {
  margin-bottom: 30px;
}
.bottommargin {
  margin-bottom: 50px;
}

.tagcloud {
  margin-bottom: -2px;
}

.tagcloud a {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  color: #666;
  display: block;
  float: left;
  font-size: 13px;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 3px 6px;
}

.tagcloud a:hover{
  color: #47c9af;
  border-color: #47c9af;
}

.entry-meta li a {
  color: #999;
}


.entry-meta li a:hover {
  color: #47c9af;
}

.entry-meta li i {
  font-size: 14px;
  margin-right: 3px;
  position: relative;
  top: 1px;
}
.side-header #primary-menu ul > li.sub-menu > a::after, [class*=" icon-"], [class*=" icon-line-"], [class*=" icon-line2-"], [class^="icon-"], [class^="icon-line-"], [class^="icon-line2-"] {
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: font-icons;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: inherit;
  text-transform: none;
}


/* ==========================================================================
	$title_page
========================================================================== */

.title_page
{
  height: 450px;
  padding: 200px 100px 0;
}

.title_page h1{
  font-size: 46px;
  color: #fff;
  font-weight: 300;
}
.title_page p{
  font-size: 16px;
  color:#fff;
  font-weight: 100;
}

.title_page.thankyou h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
}


/* ----------------------------------------------------------------
	Side Navigation
-----------------------------------------------------------------*/

#side-navigation{
  /* position: fixed;
  width: 100%; */
  /* margin-left: 100px; */
}

.sidenav {
	width: 100%;
	padding: 0;
	background-color: #FFF;
	list-style-type: none !important;
	border-radius: 4px;
}
.side_block{
  position: relative;
  z-index: 9;
  margin-left: 100px;
  margin-bottom: 100px;
}

.sidenav > li > a {
	display: block;
	margin: 0 0 -1px;
	padding: 11px 14px;
	font-size: 14px;
	border: 1px solid #E5E5E5;
	border-right-width: 2px;
  color: #666;
  font-weight: 300;
}

.sidenav > li:first-child > a { border-radius: 4px 4px 0 0; }

.sidenav > li:last-child > a {
	border-radius: 0 0 4px 4px;
	border-bottom-width: 2px;
}

.sidenav > .ui-tabs-active > a,
.sidenav > .ui-tabs-active > a:hover {
	position: relative;
	z-index: 2;
	border-color: rgba(0,0,0,0.1) !important;
	color: #FFF !important;
	font-weight: 300;
	background-color: #32a467 !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.sidenav li i {
	position: relative;
	top: 1px;
	margin-right: 6px;
	font-size: 14px;
	text-align: center;
  width: 0px;
  float: right;
}

/* Chevrons */
.sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .4;
	font-size: 12px !important;
}

.sidenav > li > a:hover {
	background-color: #F5F5F5;
	color: #222;
}

.sidenav a:hover .icon-chevron-right { opacity: .5; }

.sidenav > li > a:focus{
  outline: none;
}

.sidenav .ui-tabs-active .icon-chevron-right,
.sidenav .ui-tabs-active a:hover .icon-chevron-right { opacity: 1; }


/* ----------------------------------------------------------------
	Navication for News section
-----------------------------------------------------------------*/



.sidenav_news {
	padding: 0;
	background-color: transparent;
	list-style-type: none !important;
  border-radius: 4px;
  margin: 0 0 40px;
  padding: 0;
  text-align: center;
}

.sidenav_news > li > a {
	display: block;
	margin: 0 0 -1px;
	padding: 11px 14px;
	font-size: 14px;
  border: 1px solid #eeeeee;
  background-color: #eeeeee;
	border-right-width: 2px;
  color: #000;
  font-weight: 300;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.sidenav_news .ui-state-default.ui-corner-top {
  display: inline-block;
  text-align: center;
  width: 150px;
}

.sidenav_news > li:first-child > a { border-radius: 4px; }

.sidenav_news > li:last-child > a {
  border-radius: 4px;
  border-width: 1px;
}

.sidenav_news > .ui-tabs-active > a,
.sidenav_news > .ui-tabs-active > a:hover {
	position: relative;
	z-index: 2;
	border-color: rgba(0,0,0,0.1) !important;
	color: #FFF !important;
	font-weight: 300;
	background-color: #484848 !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.sidenav_news li i {
	position: relative;
	top: 1px;
	margin-right: 6px;
	font-size: 14px;
	text-align: center;
  width: 0px;
  float: right;
}

/* Chevrons */
.sidenav_news .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .4;
	font-size: 12px !important;
}

.sidenav_news > li > a:hover {
	background-color: #686868;
  color: #fff;
  border: 1px solid #686868;
}

.sidenav_news a:hover .icon-chevron-right { opacity: .5; }

.sidenav_news > li > a:focus{
  outline: none;
}

.sidenav_news .ui-tabs-active .icon-chevron-right,
.sidenav_news .ui-tabs-active a:hover .icon-chevron-right { opacity: 1; }



/* ==========================================================================
	$About Detail
========================================================================== */

.about_detail {
  background-image: url("../images/bg_about_page.jpg");
  background-position: -100px bottom;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  padding: 0 100px 100px;
  margin-top: -315px;
  color: #333;
  position: relative;
  z-index: 1;
}

.about_detail h2 {
  font-size: 5rem;
  font-weight: 300;
  margin: 0;
  color: #333;
}

.about_detail hr {
    border-bottom: 4px solid #333;
    display: inline-block;
    text-align: left;
    width: 50px;
}
.about_detail p {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
}

.about_detail h3{
  color: #333;
}

.footer_about{
  position: relative;
}


/* ==========================================================================
	$Vision Detail
========================================================================== */
.vision_detail{
  background-image: url('../images/bg_vision_more.jpg');
  background-position: top;
  background-repeat: no-repeat;
  padding:100px;
  margin-top: -416px;
  color: #000;
  float: left;
  position: relative;
  z-index: 1;
}

.vision_detail h2 {
  font-size: 5rem;
  font-weight: 300;
  color: #000;
  margin: 0;
}
.vision_detail p {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    line-height: 1.5;
}

.vision_detail h3{
  color: #000;
}

.vision_detail hr {
    border-bottom: 4px solid #000;
    display: inline-block;
    text-align: left;
    width: 50px;
}
  .vision_block {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* ==========================================================================
	$Role Detail
========================================================================== */

.role_detail{
  background-image: url('../images/bg_role_detail.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  padding:100px;
  margin-top: -416px;
  color: #000;
  float: left;
  position: relative;
  z-index: 1;
  width: 100%;
}

.role_detail.invester{
  background-image: url('../images/bg_share_invester.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding:100px;
  margin-top: -416px;
  color: #000;
  float: left;
  position: relative;
  z-index: 1;
  width: 100%;
}

.role_detail h2 {
  font-size: 5rem;
  font-weight: 300;
  margin: 0;
  color: #fff;
}


.role_detail h3{
  color: #fff;
  font-size: 34px;
  font-weight: 100;
  line-height: 38px;
  text-align: center;
  margin: 20px 0;
}

.role_detail h4{
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  line-height: 38px;
  text-align: center;
  margin: 20px 0;
}

.role_detail hr {
    border-bottom: 4px solid #fff;
    display: inline-block;
    text-align: left;
    width: 50px;
}


.role_detail p {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}

.role_detail ol {
    color: #fff;
    font-family: Tahoma;
    font-size: 16px;
    line-height: 30px;
    padding: 0 0 0 20px;
}

/* ----------------------------------------------------------------
	Flex Slider
-----------------------------------------------------------------*/


/* .fslider,
.fslider .flexslider,
.fslider .slider-wrap,
.fslider .slide,
.fslider .slide > a,
.fslider .slide > img,
.fslider .slide > a > img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}

.fslider { min-height: 32px; }


.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; border: none; }
.slider-wrap,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none; border: none;}

.flexslider {position: relative;margin: 0; padding: 0;}
.flexslider .slider-wrap > .slide {display: none; -webkit-backface-visibility: hidden;}
.flexslider .slider-wrap img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.slider-wrap:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slider-wrap {display: block;}
* html .slider-wrap {height: 1%;}

.no-js .slider-wrap > .slide:first-child {display: block;}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.flex-control-nav {
	position: absolute;
	z-index: 10;
	text-align: center;
	top: 14px;
	right: 10px;
	margin: 0;
}

.flex-control-nav li {
	float: left;
	display: block;
	margin: 0 3px;
	width: 10px;
	height: 10px;
}

.flex-control-nav li a {
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	width: 10px !important;
	height: 10px !important;
	border: 1px solid #FFF;
	border-radius: 50%;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

.flex-control-nav li:hover a,
.flex-control-nav li a.flex-active { background-color: #FFF; } */

/* ==========================================================================
	$Features
========================================================================== */
.feature {
  margin-bottom: 50px; }
  .feature-content {
    padding: 0 15px;
    margin-top: 30px; }
  .feature .icon {
    color: #e84545;
    font-size: 60px; }

/* ==========================================================================
	$Works
========================================================================== */
.work {
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
  min-height: 350px;
  overflow: hidden;
  position: relative;
  visibility: hidden; }
  .work .overlay {
    background: rgba(232, 69, 69, 0.9);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transition: opacity, 0.3s;
    -o-transition: opacity, 0.3s;
    -webkit-transition: opacity, 0.3s;
    transition: opacity, 0.3s; }
  .work .overlay-caption {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .work h5, .work p, .work img {
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s; }
  .work h5, .work p {
    color: #fff;
    margin: 0;
    opacity: 0; }
  .work h5 {
    margin-bottom: 5px;
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); }
  .work p {
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0); }

.work-box:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }
.work-box:hover .overlay {
  opacity: 1; }
  .work-box:hover .overlay h5, .work-box:hover .overlay p {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

/* ==========================================================================
	$Teams
========================================================================== */
.person {
  max-width: 270px; }
  .person-content {
    margin-top: 20px; }
  .person h4 {
    font-weight: 400; }
  .person h5 {
    color: #e84545;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px; }

.social-icons, .footer .footer-share {
  margin-top: 30px; }
  .social-icons li, .footer .footer-share li {
    float: left; }
  .social-icons a, .footer .footer-share a {
    border: 1px solid #e8ecee;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #c6cacc;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
    width: 40px; }
    .social-icons a:hover, .footer .footer-share a:hover {
      background-color: #e84545;
      border-color: #e84545;
      color: #fff; }

/* ==========================================================================
	$Testimonials
========================================================================== */
.testimonials {
  background-color: #53354a;
  position: relative; }
  .testimonials blockquote {
    border: 0;
    margin: 0;
    padding: 100px 15% 0; }
  .testimonials p {
    color: #fff;
    font: italic 36px "Cardo", Georgia, "Times New Roman", serif; }
  .testimonials cite {
    color: #fff;
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    margin-top: 30px;
    text-transform: uppercase; }

/* ==========================================================================
	$Download
========================================================================== */
.download h3 {
  margin-top: 0; }
.download p {
  color: #2d3033;
  font-weight: 600;
  text-transform: uppercase; }
.download .btn {
  margin-top: 30px; }


  /* ==========================================================================
	$Career
========================================================================== */
#career{
  background-color: #fff;
  position: relative;
  padding: 80px 0;
}

#career h3 {
  font-size: 24px;
  letter-spacing: 0;
  margin: 0 0 30px;
  padding: 0;
  text-transform: uppercase;
}

#career .panel-heading {
  background-color: #47c9af;
  border-color: #222;
  border-radius: 0;
  color: #fff;
}
#career .panel-group .panel{
  border-radius: 0;
}

#career .panel-body, #career p {
  color: #282828;
}


#career .panel-body li {
  line-height: 28px;
  list-style: inside none disc;
  margin: 0;
}
#career .panel-body > ul {
  margin: 0 0 20px;
}

#career .btn.btn-lg.btn-default {
  background-color: #282828;
  color: #fff;
}

#career .btn.btn-lg.btn-default:hover, #career .btn.btn-lg.btn-default:focus  {
  opacity: 0.8;
  outline: none;
}







/* ==========================================================================
	$Contact Us
========================================================================== */

  #contact{
    background-color: #fff;
    position: relative;
  }
  #contact h3 {
    font-size: 24px;
    letter-spacing: 0;
    margin: 0 0 30px;
    padding: 0 15px;
    text-transform: uppercase;
}

  #contact .content-wrap {
      padding: 80px 0;
      position: relative;
  }
  .nobottommargin {
      margin-bottom: 0;
  }

  #contact label {
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-family: "Raleway",sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#contact label.error {
  margin-top: 5px;
  color: #E42C3E;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}

/* #contact label.error{
  display: none !important;
} */


#contact .sm-form-control {
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #ddd;
    border-radius: 0;
    color: #555555;
    display: block;
    font-size: 15px;
    height: 38px;
    line-height: 1.42857;
    padding: 8px 14px;
    transition: border-color 0.15s ease-in-out 0s;
    width: 100%;
}

#contact .sm-form-control {
  height: auto;
}

#contact .form-control.error, #contact .sm-form-control.error {
  border-color: #E42C3E;
}

#contact .button {
  background-color: #1abc9c;
  border: medium none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 0;
  outline: medium none;
  padding: 0 22px;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#contact .button:hover{
  opacity: 0.8;
}

#contact .bottommargin{
  margin-bottom: 20px;
}

abbr[data-original-title], abbr[title]{
  border: 0 none;
}
 
#google-map {
  position: relative;
  width: 100%;
  height: 450px;
}

/* ==========================================================================
	$Footer
========================================================================== */
.footer {
  text-align: center; 
  float: left;
  width: 100%;
}
  .footer-top {
    background-color: #333;
    padding:50px 100px 20px; 
  }
  .footer-bottom {
    background-color: #282828;
    padding: 30px 100px 15px;
}
  .footer .footer-col {
    margin-bottom: 0px; }
  .footer h5 {
    color: #fff; }
  .footer h5 {
    margin-bottom: 20px; 
    font-size: 1.8rem;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
  }

  .footer-bottom ul {
      display: inline-flex;
  }
  .footer-bottom ul li {
      margin: 0 20px;
  }

  .footer-bottom .copyright{
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
  }
.footer-bottom .copyright p{
    color: rgba(255, 255, 255, 0.5);
  }

  .footer-bottom .menu {
      padding: 0;
      color: rgba(255, 255, 255, 0.5);
  }

  .footer .input-group .form-control {
    background-color: #282828;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    height: 40px;
}
  .footer .input-group textarea.form-control {
    height: 200px;
  }

.footer .input-group-addon {
    background-color: #212121;
    border-color: currentcolor #222 currentcolor currentcolor;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    color: #fff;
}

.footer .btn.btn-large {
    background-color: #6dac53;
    text-decoration: none;
}

.footer .btn.btn-large:focus {
    background-color: #6dac53;
    text-decoration: none;
    color: #fff;
}

  .footer .btn.btn-large:hover{
    color: #fff;
  }

  .footer .input-group {
    margin: 0 0 10px;
    width: 100%;
}
  .footer p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5rem;
    font-weight: 300;
}
  .footer a {
     color: rgba(255, 255, 255, 0.5);
    }
    .footer a:hover {
     color: rgba(255, 255, 255, 0.9);
     text-decoration: underline;
     
    }
  .footer .footer-share {
    margin-top: 0; }
    .footer .footer-share li {
      display: inline-block;
      float: none; }
    .footer .footer-share a {
      border-width: 2px;
      color: #fff; }
  .footer .fa-heart {
    color: #e84545;
    font-size: 11px;
    margin: 0 2px; }


/* ==========================================================================
	$Utilities
========================================================================== */
.work:nth-child(1) {
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.work:nth-child(2) {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.work:nth-child(3) {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.work:nth-child(4) {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.work:nth-child(5) {
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }
.work:nth-child(6) {
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }
.work:nth-child(7) {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }
.work:nth-child(8) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.animated {
  visibility: visible; }

/* ==========================================================================
	Font Icon (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */
@font-face {
  font-family: "elegant-theme-line";
  src: url('../fonts/elegant-theme-line.ttf?1439850014') format('truetype'), url('../fonts/elegant-theme-line.eot?1439850014') format('embedded-opentype'), url('../fonts/elegant-theme-line.svg?1439850014') format('svg'), url('../fonts/elegant-theme-line.woff?1439850014') format('woff'); }
.icon {
  font-family: 'elegant-theme-line';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mobile:before {
  content: "\e000"; }

.icon-laptop:before {
  content: "\e001"; }

.icon-desktop:before {
  content: "\e002"; }

.icon-tablet:before {
  content: "\e003"; }

.icon-phone:before {
  content: "\e004"; }

.icon-document:before {
  content: "\e005"; }

.icon-documents:before {
  content: "\e006"; }

.icon-search:before {
  content: "\e007"; }

.icon-clipboard:before {
  content: "\e008"; }

.icon-newspaper:before {
  content: "\e009"; }

.icon-notebook:before {
  content: "\e00a"; }

.icon-book-open:before {
  content: "\e00b"; }

.icon-browser:before {
  content: "\e00c"; }

.icon-calendar:before {
  content: "\e00d"; }

.icon-presentation:before {
  content: "\e00e"; }

.icon-picture:before {
  content: "\e00f"; }

.icon-pictures:before {
  content: "\e010"; }

.icon-video:before {
  content: "\e011"; }

.icon-camera:before {
  content: "\e012"; }

.icon-printer:before {
  content: "\e013"; }

.icon-toolbox:before {
  content: "\e014"; }

.icon-briefcase:before {
  content: "\e015"; }

.icon-wallet:before {
  content: "\e016"; }

.icon-gift:before {
  content: "\e017"; }

.icon-bargraph:before {
  content: "\e018"; }

.icon-grid:before {
  content: "\e019"; }

.icon-expand:before {
  content: "\e01a"; }

.icon-focus:before {
  content: "\e01b"; }

.icon-edit:before {
  content: "\e01c"; }

.icon-adjustments:before {
  content: "\e01d"; }

.icon-ribbon:before {
  content: "\e01e"; }

.icon-hourglass:before {
  content: "\e01f"; }

.icon-lock:before {
  content: "\e020"; }

.icon-megaphone:before {
  content: "\e021"; }

.icon-shield:before {
  content: "\e022"; }

.icon-trophy:before {
  content: "\e023"; }

.icon-flag:before {
  content: "\e024"; }

.icon-map:before {
  content: "\e025"; }

.icon-puzzle:before {
  content: "\e026"; }

.icon-basket:before {
  content: "\e027"; }

.icon-envelope:before {
  content: "\e028"; }

.icon-streetsign:before {
  content: "\e029"; }

.icon-telescope:before {
  content: "\e02a"; }

.icon-gears:before {
  content: "\e02b"; }

.icon-key:before {
  content: "\e02c"; }

.icon-paperclip:before {
  content: "\e02d"; }

.icon-attachment:before {
  content: "\e02e"; }

.icon-pricetags:before {
  content: "\e02f"; }

.icon-lightbulb:before {
  content: "\e030"; }

.icon-layers:before {
  content: "\e031"; }

.icon-pencil:before {
  content: "\e032"; }

.icon-tools:before {
  content: "\e033"; }

.icon-tools-2:before {
  content: "\e034"; }

.icon-scissors:before {
  content: "\e035"; }

.icon-paintbrush:before {
  content: "\e036"; }

.icon-magnifying-glass:before {
  content: "\e037"; }

.icon-circle-compass:before {
  content: "\e038"; }

.icon-linegraph:before {
  content: "\e039"; }

.icon-mic:before {
  content: "\e03a"; }

.icon-strategy:before {
  content: "\e03b"; }

.icon-beaker:before {
  content: "\e03c"; }

.icon-caution:before {
  content: "\e03d"; }

.icon-recycle:before {
  content: "\e03e"; }

.icon-anchor:before {
  content: "\e03f"; }

.icon-profile-male:before {
  content: "\e040"; }

.icon-profile-female:before {
  content: "\e041"; }

.icon-bike:before {
  content: "\e042"; }

.icon-wine:before {
  content: "\e043"; }

.icon-hotairballoon:before {
  content: "\e044"; }

.icon-globe:before {
  content: "\e045"; }

.icon-genius:before {
  content: "\e046"; }

.icon-map-pin:before {
  content: "\e047"; }

.icon-dial:before {
  content: "\e048"; }

.icon-chat:before {
  content: "\e049"; }

.icon-heart:before {
  content: "\e04a"; }

.icon-cloud:before {
  content: "\e04b"; }

.icon-upload:before {
  content: "\e04c"; }

.icon-download:before {
  content: "\e04d"; }

.icon-target:before {
  content: "\e04e"; }

.icon-hazardous:before {
  content: "\e04f"; }

.icon-piechart:before {
  content: "\e050"; }

.icon-speedometer:before {
  content: "\e051"; }

.icon-global:before {
  content: "\e052"; }

.icon-compass:before {
  content: "\e053"; }

.icon-lifesaver:before {
  content: "\e054"; }

.icon-clock:before {
  content: "\e055"; }

.icon-aperture:before {
  content: "\e056"; }

.icon-quote:before {
  content: "\e057"; }

.icon-scope:before {
  content: "\e058"; }

.icon-alarmclock:before {
  content: "\e059"; }

.icon-refresh:before {
  content: "\e05a"; }

.icon-happy:before {
  content: "\e05b"; }

.icon-sad:before {
  content: "\e05c"; }

.icon-facebook:before {
  content: "\e05d"; }

.icon-twitter:before {
  content: "\e05e"; }

.icon-googleplus:before {
  content: "\e05f"; }

.icon-rss:before {
  content: "\e060"; }

.icon-tumblr:before {
  content: "\e061"; }

.icon-linkedin:before {
  content: "\e062"; }

.icon-dribbble:before {
  content: "\e063"; }
